{% extends 'filosofes/base.html' %}

{% block body %}
<div class="col-md-8 blog-main">
  <h3 class="pb-3 mb-4 font-italic border-bottom">
    Winter is coming
  </h3>

{% for post in object_list %}

  <div class="blog-post">

    <h2 class="blog-post-title">{{ post.title }}</h2>
    <p class="blog-post-meta">{{ post.published_date|date }} <a href="/post/{{ post.slug}}">Mark</a></p>
    <hr />
    <p>{{ post.headline|safe }}</p>
  </div>
{% empty %}
    <li>No articles yet.</li>
{% endfor %}
</div>

{% endblock %}
